IR/*
Binaries/*
IDBs/*
output
Tokenizer/output_corpus
Tokenizer/small_sample_corpus

**/tempCodeRunnerFile.python
Pretrain/bert_pretrain_output

__pycache__/
**/__pycache__/
*.pyc

*.pkl
*.log
*.png
*.svg
*.ll
*.bc
*.dot
**/build

.idea/
.vscode/

temp.*
*.tmp