IR/*
Binaries/*
IDBs/*
output
output_no_cfg
output_no_ddg
output_none
db1_model_no_cfg
db1_model_no_ddg
db1_model_none
/output_*/
db1_model_*/
logs_*/
Tokenizer/output_corpus
Tokenizer/small_sample_corpus

**/tempCodeRunnerFile.python
Pretrain/bert_pretrain_output

__pycache__/
**/__pycache__/
*.pyc
*.re
*.pkl
*.log
*.png
*.svg
*.ll
*.npy
*.bc
*.dot
**/build

logs/

.idea/
.vscode/

temp.*
*.tmp
*log.txt

db1_model/

*.pt
test.py

.codex
*.sif
*.o
*.i64
*.eps
runs/
data/
tmp/
artifact_packages/
*.tar.zst
*.tar.gz
