pandas
typer
rich
fastapi
uvicorn
python-multipart
transformers
datasets
networkx
pygraphviz
llvmlite
pebble
tensorboard

--index-url https://download.pytorch.org/whl/cu130
torch
torchvision
torchaudio

bitsandbytes
xformers
